body {
    background-color: #f2f2f2;
    margin: 0px;
    font-family: tahoma;
    color:#282828;
}

img {
    border: 2px solid #d8d8d8;
}

table{
    width: 300px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

td {
    text-align: center;
    width: 70%;
}


.pokemon-image{
    width: 250px;
    height: 250px;
}


@media only screen and (max-width: 600px) {

}